<section>
  <h2>Accounts</h2>
  <table>
    <tr>
      <th>Account ID</th>
      <th>Account Balance</th>
      <th>Current Value</th>
      <th>Total Shares</th>
      <th>Ownership</th>
      <th>Return on Investment</th>
    </tr>
    <% accounts.forEach(account => { %>
    <tr>
      <td><%= account.accountId %></td>
      <td>$<%= account.accountBalance %></td>
      <td>$<%= account.currentValue %></td>
      <td><%= account.totalShares %></td>
      <td><%= account.ownership %></td>
      <td><%= account.returnOnInvestment %></td>
    </tr>
    <% }); %>
  </table>
</section>